/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .btn {
    @apply px-6 py-3 rounded-lg font-medium transition-all duration-300 cursor-pointer;
  }
  
  .btn-outline {
    @apply btn border border-primary text-primary hover:bg-primary hover:text-white;
  }
  
  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary-dark;
  }
  
  .btn-secondary {
    @apply btn bg-secondary text-white hover:bg-primary-dark;
  }
  
  .btn-large {
    @apply btn px-8 py-4 text-lg;
  }
  
  .card-hover {
    @apply transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl;
  }
}